* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui,  Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

a {
  text-decoration: none;
}